extends layout

block content
  div.container
    div.row 
      div.col-lg-offset-4
        h1= title
        p.small.col-lg-offset-1 Welcome to #{title}
    hr
    div.row
      p#directions
    hr
    div.row
      div
        p#leaderboardtitle Leaderboard
        p#leaderboard 
    hr
    div.row
      button#start-game-btn.btn.btn-primary.btn-lg.col-lg-4.col-lg-offset-4(type="button") Start Game
    div.row
      div.col-lg-4.col-lg-offset-4
        p#game-info
        p#timer-container  
    div.row  
      canvas#drawing.col-xs-offset-0.col-lg-offset-2(width="800", height="500").canvas-btns
    div.row
      div.col-xs-10.col-lg-4.col-lg-offset-4
        div.btn-group
          button#clear-btn.btn(type="button")
            b Clear     
          button.color-black.btn.color-btn(type="button", data-color="black") Black    
          button.color-blue.btn.color-btn(type="button", data-color="blue") Blue   
          button.color-red.btn.color-btn(type="button", data-color="red") Red     
          button.color-orange.btn.color-btn(type="button", data-color="orange") Orange     
          button.color-green.btn.color-btn(type="button", data-color="green") Green   
      div.col-xs-2
        select#width-select.form-control(name="Select width of cursor")
          option(value="2") 2px        
          option(value="5") 5px        
          option(value="10") 10px      
          option(value="25") 25px  
    div.row.chat-container
      hr  
      div.row.col-lg-offset-4 
        h2 Chatroom         
        div#feeddiv.scroll
            p#chat-feed    
        div.row
          div.col-lg-4    
            input#new-message.form-control(placeholder="Enter text here")
          div.col-lg-2  
            button#send-message.btn(type="button") Send
