doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/leaderboard.js', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    h1= title
  
    p#leaderboard  
    
