doctype html
html
  head
    title= title
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='/javascripts/login.js', charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body  
    h1= title
    p Please enter username to login to #{title}
    label(for='username')
        | Username:
        input#username(type='text', name='username', value='')
    br
    br
    button#login(type='button', name='button') login
